doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Button
    link(rel='stylesheet' href='price-range.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css')
  body
    button.price-range-button(type='button')
      span.price-range-button__text Price from-to in rubles
      span.price-range-button__icon
    form.price-range-dropdown
      .price-range__column
        input#price-range-start.price-range-dropdown__input(type='number')
        ul.price-range__list
          each val in [1000000, 1500000, 2000000, 2500000, 3000000, 3500000]
            li.price-range__item(value= val)= val
      .price-range__column
        input#price-range-finish.price-range-dropdown__input(type='number')
        ul.price-range__list
          each val in [1500000, 2000000, 2500000, 3000000, 3500000, 4000000]
            li.price-range__item(value= val)= val
    script(src='index.js')
